<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{!-- Theme color --}}
    <meta name="theme-color" content="#121212">
    
    {{!-- Page Title --}}
    <title>{{meta_title}}</title>
    
    {{!-- Open Graph / Facebook --}}
    <meta property="og:type" content="{{#is "post"}}article{{else}}website{{/is}}">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:url" content="{{url absolute="true"}}">
    <meta property="og:site_name" content="{{@site.title}}">
    {{#if feature_image}}
    <meta property="og:image" content="{{img_url feature_image size="l" absolute="true"}}">
    {{else}}
    {{#if @site.cover_image}}
    <meta property="og:image" content="{{img_url @site.cover_image size="l" absolute="true"}}">
    {{/if}}
    {{/if}}
    
    {{!-- Twitter Card --}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{meta_title}}">
    {{#if feature_image}}
    <meta name="twitter:image" content="{{img_url feature_image size="l" absolute="true"}}">
    {{else}}
    {{#if @site.cover_image}}
    <meta name="twitter:image" content="{{img_url @site.cover_image size="l" absolute="true"}}">
    {{/if}}
    {{/if}}
    {{#if @site.twitter}}
    <meta name="twitter:site" content="@{{@site.twitter}}">
    {{/if}}
    
    {{!-- Canonical URL --}}
    <link rel="canonical" href="{{url absolute="true"}}">
    
    {{!-- RSS Feed --}}
    <link rel="alternate" type="application/rss+xml" title="{{@site.title}}" href="{{@site.url}}/rss/">
    
    {{!-- Favicon --}}
    {{#if @site.icon}}
    <link rel="icon" href="{{img_url @site.icon size="s"}}" type="image/png">
    {{/if}}
    
    {{!-- Structured Data --}}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "{{#is "post"}}Article{{else}}WebSite{{/is}}",
        {{#is "post"}}
        "headline": "{{title}}",
        "author": {
            "@type": "Person",
            "name": "{{primary_author.name}}"{{#if primary_author.website}},
            "url": "{{primary_author.website}}"{{/if}}
        },
        "datePublished": "{{date format="YYYY-MM-DD"}}",
        "dateModified": "{{date format="YYYY-MM-DD"}}",
        {{#if feature_image}}
        "image": "{{img_url feature_image size="xl" absolute="true"}}",
        {{/if}}
        {{else}}
        "name": "{{@site.title}}",
        {{#if @site.cover_image}}
        "image": "{{img_url @site.cover_image size="xl" absolute="true"}}",
        {{/if}}
        {{/is}}
        "url": "{{url absolute="true"}}",
        "publisher": {
            "@type": "Organization",
            "name": "{{@site.title}}"{{#if @site.icon}},
            "logo": {
                "@type": "ImageObject",
                "url": "{{img_url @site.icon size="m" absolute="true"}}"
            }{{/if}}
        }
    }
    </script>
    
    {{!-- Main Stylesheet --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
    
    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div class="site-wrapper">
        
        {{!-- All the main content gets inserted here --}}
        {{{body}}}
        
    </div>

    {{!-- The #block helper will pull in data from the #contentFor other template files --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    
    {{!-- Custom JavaScript --}}
    <script src="{{asset "js/main.js"}}"></script>
</body>
</html>
